/* Local variables */
:root{
    --bg-body: #262334;
    --bg-main: #8b316f;
    --texte-body: #CCC9DC;
    --bg-article: #5A5577;
}


/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;
    background-color:  var(--bg-body);
    color: var(--texte-body);
}
  
header {
    background-color: var(--bg-main);
    color: #fff;
    padding: 20px;
    box-shadow: 6px 7px 9px rgba(0, 0, 0, 0.7);
}
  
header h1 {
    margin: 0;
    font-size: 24px;
}
  
nav ul {
    list-style: none;
}
  
nav ul li {
    display: inline;
    margin-left: 10px;
}
  
nav ul li a {
    color: #fff;
    text-decoration: none;
}
  
main {
    padding: 20px;
}
  
article {
    padding: 30px;
    margin-bottom: 40px;
    background-color: var(--bg-main);
    color: white;
    box-shadow: 6px 7px 9px rgba(0, 0, 0, 0.7);
    border: 3px solid #fff;
    border-radius: 10px;
}


article p {
    font-size: 17px;
    margin-top: 2%;
    text-align: justify;

}

article a {
    color: #fff;
}
  
article h2 {
    margin-bottom: 10px;
    font-size: 26px;
}
  
article img {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}
  
footer {
    background-color: var(--bg-main);
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 6px 7px 9px rgba(0, 0, 0, 0.7);
    border: 3px solid #fff;
    border-radius: 10px;
}
  
#article-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;

}

.image-article {
    margin-right: 5px;
    flex : 1 1 200px; /* grow shrink basis , permet que les images s'adaptent à la taille de l'écran */
    /*We make the image responsive by setting its max-width to 100% and height to auto. */
    height: 400px;
}

.image-article img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}


.article-meta {
    margin-bottom: 15px
}

.article-meta > span {
    border: 1px solid #fff;
    padding: 5px;    
}

.filter {
    margin-bottom: 20px;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.hosting {
    /*we create a wave animation by using the animation property with the values of the keyframes we created earlier.*/
    text-decoration: wavy;
    animation: wave 4s linear infinite;
}

.article-language {
    cursor: pointer;
}

.scolar {
    cursor: pointer;
}

@keyframes wave {
    0% {
      color: #7B506F;
    }
    25% {
      color: #9E768F;
    }
    50% {
      color: #BDA1AF;
    }
    75% {
      color: #DFC8CE;
    }
    100% {
      color: #7B506F;
    }
}

.center {
    text-align: center;
}

#photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 6px 7px 9px rgba(0, 0, 0, 0.7);
    margin-left: 6%;
    margin-top: 5%;
}

.image-article-photo {
    display: flex;
    margin-right: 5px;
    flex : 1 1 200px; /* grow shrink basis , permet que les images s'adaptent à la taille de l'écran */ 
    height: 200px;
}
.about-me-top-container {
    margin-top: -4%;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
}

.bio {
    width: 60%;    
    margin : 5%;
    margin-bottom: 3%;
    text-align: justify;
}

#language-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#language-container img {
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 6px 7px 9px rgba(0, 0, 0, 0.7);
    /* the max size of the image is 100px */
    height: 70px;
    width: 70px;
    background-color: #fff;
}

#language-container img:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

#lang-container-global {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

#close-popup {
    position: relative;
    display: inline;
    top: 0%;
    left : 48%;
    height: 10%;
    cursor: pointer;
    border: 5px solid;
    border-color: #8b316f;
    animation: wave-border 4s linear infinite;
    font-weight: 700;
    font-size: larger;
}

#close-popup:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

#close-popup img {
    height: 10%;
    width: 10%;
    right: 0%;
}

/* Animations */

@keyframes wave {
    0% {
      color: #7B506F;
    }
    25% {
      color: #9E768F;
    }
    50% {
      color: #BDA1AF;
    }
    75% {
      color: #DFC8CE;
    }
    100% {
      color: #7B506F;
    }
}

@keyframes wave-border {
    0% {
      border-color: #7B506F;
    }
    25% {
      border-color: #9E768F;
    }
    50% {
      border-color: #BDA1AF;
    }
    75% {
      border-color: #DFC8CE;
    }
    100% {
      border-color: #7B506F;
    }
}

sidebar {
    position: fixed;
    top: 15%;
    left: 5%;
    height: 70%;
    width: 10%;
    background-color: var(--bg-main);
    color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 6px 7px 9px rgba(0, 0, 0, 0.7);
    border: 3px solid #fff;
    border-radius: 10px;
}

sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}