/* Local variables */
:root{
    --bg-body: #331E38;
    --bg-header: #706993;
    --texte-body: #CCC9DC;
    --bg-article: #5A5577;
}


/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;
    background-color:  var(--bg-body);
    color: var(--texte-body);
}
  
header {
    background-color: var(--bg-header);
    color: #fff;
    padding: 20px;
}
  
header h1 {
    margin: 0;
    font-size: 24px;
}
  
nav ul {
    list-style: none;
}
  
nav ul li {
    display: inline;
    margin-left: 10px;
}
  
nav ul li a {
    color: #fff;
    text-decoration: none;
}
  
main {
    padding: 20px;
}
  
article {
    padding: 30px;
    margin-bottom: 40px;
    background-color: var(--bg-header);
    color: white;
}

article p {
    font-size: 17px;
    margin-top: 2%;
}

article a {
    color: #fff;
}
  
article h2 {
    margin-bottom: 10px;
    font-size: 26px;
}
  
article img {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}
  
footer {
    background-color: var(--bg-header);
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
#article-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;

}

.image-article {
    margin-right: 5px;
    flex : 1 1 200px; /* grow shrink basis , permet que les images s'adaptent à la taille de l'écran */
    /*We make the image responsive by setting its max-width to 100% and height to auto. */
    height: 400px;
}

.image-article img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}


.article-meta {
    margin-bottom: 15px
}

.article-meta > span {
    border: 1px solid #fff;
    padding: 5px;    
}
